<ion-modal-view class="loginPage">
  <ion-header-bar class="customHeader">
  <button ng-click="toggleLeft()" style="color:white;font-size: 2em" class="button button-icon button-clear icon ion-navicon-round" menu-toggle="left"></button>
    <h1 class="title"><b>About Us</b></h1>

  </ion-header-bar>
  <div style="padding-top: 55px;">
  	
  <div class="card">
  <div class="item item-text-wrap">
    Contact Number :<br><b>+91 99400-41658</b>
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
    Address:<br><b>706,Mantri Synergy,<br>
    Padur,Chennai,<br>
    603103,<br>
    TamilNadu</b>
   </div>
</div>
  </div>
  <ion-content>

  </ion-content>
  </ion-modal-view>