<!-- <div style="background-color:#fffde7;color:#76ff03;padding: 10px"> -->
<div>
	<div class="confirmHeading">
		<p>Confirm Recharge Details</p>
	</div>
	<ul class="rechargeFormData">
		<table>
			<div class="row" style="width: 100%">
				<div class="col-50 Center"><b>Number:</b></div>
				<div class="col-50 Center"><b>{{rechargeForm.phoneNumber}}</b></div>
			</div>
			<div class="row">
				<div class="col-50 Center"><b>Amount:</b></div>
				<div class="col-50 Center"><b>{{rechargeForm.amount}}</b></div>
			</div>
			<div class="row">
				<div class="col-50 Center"><b>Operator:</b></div>
				<div class="col-50 Center"><b>{{rechargeFormType}}</b></div>
			</div>
			<div class="row">
				<div class="col-50 Center"><b>Circle:</b></div>
				<div class="col-50 Center"><b>{{rechargeFormCircle}}</b></div>
			</div>
			<div class="row">
				<div class="col-50 Center"><b>Type:</b></div>
				<div class="col-50 Center"><b>{{rechargeFormOperator}}</b></div>
			</div>
		</table>
	</ul>
</div>