<ion-modal-view class="loginPage">
  <ion-header-bar class="customHeader">
    <h1 class="title"><b>No Network</b></h1>

  </ion-header-bar>

  <ion-content>
  <h3 class="Center" style="color: red;">Unable To Connect To Network</h3>
  <div style="padding-left: 20%;padding-top: 10%;">
  	<img src="img/no_network.png" width="70%" >
  	<br><br><br><br><br>
  	<div style="padding-left:10%;">
	<button class="button button-positive" ng-click="retryNetwork()">
  	Retry Connection
	</button>
  		
  	</div>
  </div>
  </ion-content>
  </ion-modal-view>